* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background: #e6ecf0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  pointer-events: all;
}

#root,
html,
body {
  height: 100%;
  margin: 0;
}

input,
button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}
